
<h1>Collections</h1>
{% schema %}
    {
        "name":"collections list",
        "class": "mh collections",
        "settings": [],
        "presets": [
            {
                "name":"collections list"
            }
        ]
    }
{% endschema %}